body {
  background-color: rgb(237, 233, 233);
}
::-webkit-scrollbar{
  width: 1px;
}
::-webkit-scrollbar-track{
  background-color: #11111111;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(28, 28, 28);
}
.recent-box {
  height: 280px;
  width: 100%;
  overflow-y: scroll;
}

.recent-box>* {
  margin: 0.3rem;
}

.recent-box::-webkit-scrollbar {
  width: 0px;
}

.sp {
  background-color: rgb(30, 28, 33);
}

.text-box {
  border: 1px solid black;
  padding: 0.5rem;
}

.code-editor{
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
